<div class="w-100" style="z-index: 100; position: fixed; ">
    {{> _problemheader}}
</div>

<div class="row w-100" style=" padding-top:85px; padding-bottom:20px; ">
    <div class="row">
        <div class="col-md-8" style="padding-right: 50px; padding-left: 50px;">
            <div class="row">
                <div class="col text-end">
                    <h3>{{problem.name}}</h3>
                </div>
                <div class="col">
                    <a href="/problem/edit/{{problem._id}}" class="btn p-1 btn-float text-primary">
                        <i class="fas fa-edit fa-2x mx-1"></i>
                    </a>
                </div>
            </div>

            <div class="p-3 card student">
                <div class=" card problem">
                    {{!-- Name --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>Name :</span>
                        <span style="padding-left: 40px;">{{problem.name}}</span>
                    </div>
                    <hr>
                    {{!-- phone --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇Family Phone : </span>
                        <span style="padding-left: 40px;">
                            <a href="tel:  {{problem.phone}} ">
                                {{problem.phone}}
                            </a>
                        </span>
                    </div>
                    {{!-- case --}}
                    <div class="p-2" style="padding-left: 50px; padding-right: 40px;">
                        <span>◇ Case : </span>
                        <span class="text-center d-inline-block"
                            style="{{#eq problem.case 'Normal'}}background-color: #28a745; width: 100px;{{else}}background-color: #ff0000; width: 100px;{{/eq}};">
                            {{problem.case}}
                        </span>
                    </div>
                    <hr>
                    {{!-- body --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Student Problem : </span>
                        <span style="padding-left: 40px;">
                            <p class="card-title">{{stripTags problem.body }}</p>
                        </span>
                    </div>
                    <hr>
                    {{!-- Problem Written Date --}}
                    <div class="p-2" style="padding-left: 50px;">
                        <span>◇ Problem Written Date : </span>
                        <span style="padding-left: 40px;"> {{formatDate problem.createdAt 'MMMM Do YYYY, h:mm:ss
                            a'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 w-25" style="padding: 20px;">
            <div class="card text-center">
                <div class="card-content">
                    <div style="padding-top: 10px;">
                        <span class="card-title">{{problem.user.displayName}}</span>
                    </div>
                    <div style="padding: 7px;">
                        <img src="{{problem.user.image}}" class="rounded-circle img-fluid img-small"
                            alt="{{problem.user.displayName}}" style="height: 150px; width: 150px;">
                    </div>

                </div>
                <hr>
                <div class="card-action" style="padding-bottom: 13px;">
                    <button type="button" class="btn  btn-primary link-unstyled text-decoration-none"
                        style="background-color: #3498db; border-color: #3498db; "
                        onmouseover="this.style.backgroundColor='#2980b9'"
                        onmouseout="this.style.backgroundColor='#3498db'"
                        onclick="window.location.href='/news/user/{{problem.user._id}}'">
                        More From {{problem.user.firstName}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>