<div class="w-75" style="position: fixed; z-index: 100; ">
    {{> _homeheader}}
</div>


<div class="w-75" style="position: fixed;padding-top:80px; z-index: 100; ">
    {{> _mainheader}}
</div>
<div>
    {{> _add_btn}}
</div>


<h6 style=" padding-top:80px;">Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>Here are your stories</p>

{{#if stories}}
<table class="table table-striped w-100">
    <thead bg-secondary>
        <tr>
            <th>No. </th>
            <th>Image </th>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each stories as |row index|}}
        <tr>
            <td style="padding: 2px;">{{index}}</td>
            <td style="padding: 2px;"><img src="{{row.image}}" width="60" class="img-thumbnail"></td>
            <td style="padding: 2px;"><a href="/stories/{{row._id}}">{{row.title}}</a></td>
            <td style="padding: 2px;">{{formatDate row.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
            <td style="padding: 2px;"><span class="dash-status">{{row.status}}</span></td>
            <td style="padding: 2px;">
                <div style="display: grid; gap: 10px; grid-template-columns: repeat(2, 1fr)">
                    <div>
                        <a href="/stories/edit/{{row._id}}" class="btn p-2 btn-float bg-warning">
                            <i class="fas fa-edit btn-float "></i>
                        </a>
                    </div>
                    <div>
                        <form action="/stories/{{row._id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn bg-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>


            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{else}}
<p>You have not created any stories</p>
{{/if}}