<title>worker Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css"
    integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="w-100" style="z-index: 100; position: fixed;">
    {{> _studentheader}}
</div>

{{!-- body --}}
<div style="padding: 40px;">
    <h3 style="padding-top: 55px; padding-left: 38px;">Welcome {{name}}</h3>

    {{#if worker}}
    {{! Define variables to store counts }}
    {{#with (hash paidCount=0 notPaidCount=0)}}

    {{#each worker as |row index|}}
    {{#if (eq row.status 'Paid')}}
    {{#with (hash paidCount=(inc paidCount))}}
    {{/with}}
    {{else}}
    {{#with (hash notPaidCount=(inc notPaidCount))}}
    {{/with}}
    {{/if}}
    {{/each}}

    {{! Display the counts }}
    <p>Paid: {{paidCount}}</p>
    <p>Not-Paid: {{notPaidCount}}</p>

    {{/with}}

    {{! Your existing table code }}
    <table class="table table-striped w-100 table-responsive ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>phone</th>
                <th>Status</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {{#each worker as |row index|}}
            <tr>
                <td style="padding: 2px;">{{index}}</td>
                <td style="padding: 2px;">
                    {{#if row.image}}
                    <img src="{{row.image.contentType}}" width="50" class="img-thumbnail">
                    {{else}}
                    <img src="images/no_image.png" width="50" class="img-thumbnail">
                    {{/if}}

                </td>
                <td style="padding: 2px;"><a href="{{row._id}}">{{row.name}}</a></td>
                <td style="padding: 2px;"><a href="{{row._id}}">{{row.email}}</a></td>
                <td style="padding: 2px;">{{row.phone}}</td>
                <td style="padding: 2px;">{{row.salary}}</td>
                <td style="padding: 1px; 
                    {{#eq row.gender 'M'}}background-color: color: #ffffff;
                    {{else}}background-color: 	#fffcb2 ;
                    {{/eq}}">
                    <span class="dash-gender">{{row.gender}}</span>
                </td>

                <td style="padding: 2px;">{{formatDate row.createdAt 'MMMM Do YYYY, h:mm:ss a'}}
                </td>
                <td style="padding: 2px;">
                    <div style="display: grid; gap: 10px; grid-template-columns: repeat(2, 1fr)">
                        <div>
                            <a href="/worker/edit/{{row._id}}" class="btn p-2 btn-float  text-success">
                                <i class="fas fa-edit fa-lg mx-1"></i>
                            </a>
                        </div>
                        <div>
                            <form action="/worker/{{row._id}}" method="POST" id="delete-form">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn text-danger">
                                    <i class="fas fa-trash fa-lg mx-1"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    {{else}}
    <p>No member Added yet</p>
    {{/if}}
</div>