<h1 class="display-4" style=" padding-top:80px;">Events</h1>
<form id="search-site" action='/stories/search/:query' method='get' class="mb-4">
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-search fa-lg"></i></span>
        <div class="form-floating">
            <input id="search" type="search" name='query' class="form-control w-90" placeholder="Search by title">
            <label for="search">Search</label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="row">
    {{#each stories}}
    <div class="col-12 col-md-4">
        <div class="card mb-4">
            <div class="card-img-top">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-body text-center">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">{{stripTags (truncate body 150)}}</p>
                <div class="chip">
                    <img src="{{user.image}}" alt="{{user.displayName}}" class="chip-img">
                    <a href="/stories/user/{{user._id}}" class="chip-link">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/stories/{{_id}}" class="btn btn-secondary">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p class="col-12 text-center">No Event to display</p>
    {{/each}}
</div>