<div class="w-100" style="position: fixed; z-index: 100; ">
    {{> _homeheader}}
</div>
<div style="padding: 50px;">
    <div class="row w-100" style=" padding-top:85px; padding-bottom:20px; ">
        <div class="col-12 col-md-8 w-57" style=" padding-right:60px; padding-left:60px;">

            <h3 style="padding-left:40px;">{{story.title}}
                <small>{{{editIcon1 story.user user story._id false}}}</small>
            </h3>
            <div class=" card story">
                <div class="rounded">
                    <img src="{{story.image}}" alt="News Image">
                </div>
                <hr>
                <div class="card-content">
                    <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                    {{{story.body}}}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 w-25" style="padding: 20px;">
            <div class="card text-center">
                <div class="card-content">
                    <div style="padding-top: 10px;">
                        <span class="card-title">{{story.user.displayName}}</span>
                    </div>
                    <div style="padding: 7px;">
                        <img src="{{story.user.image}}" class="rounded-circle img-fluid img-small"
                            alt="{{story.user.displayName}}" style="height: 150px; width: 150px;">
                    </div>

                </div>
                <hr>
                <div class="card-action" style="padding-bottom: 13px;">
                    <button type="button" class="btn  btn-primary link-unstyled text-decoration-none"
                        style="background-color: #3498db; border-color: #3498db; "
                        onmouseover="this.style.backgroundColor='#2980b9'"
                        onmouseout="this.style.backgroundColor='#3498db'"
                        onclick="window.location.href='/news/user/{{story.user._id}}'">
                        More From {{story.user.firstName}}
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>