<div class="w-100" style=" z-index: 100; position:fixed;">
    {{> _studentheader}}
</div>
<div class="container row " style="padding-top: 7%; padding-right:10%; padding-left:310px;">
    <div class=" bg-info bg-opacity-10 border border-info border-start-0 rounded-end"
        style="padding-top: 20px; padding-right:10%; padding-left:10%;">

        <div class="row text-center" style="align-items: center;">
            <h3 class="bg-primary p-1" style="--bs-bg-opacity: .2; padding-left: 40px; padding-top: 70px;">
                Edit Student Information</h3>
        </div>

        <div class="row " style="padding-left: 10px;">
            <form action="/student/{{student._id}}" method="POST" class="col-md-8 col-lg-8"
                enctype="multipart/form-data">
                <input type="hidden" name="_method" value="post">
                <!-- 1 Name--->
                <div class="mb-2 row" style="padding-top:20px;">
                    <div class="col-3">
                        <label for="name" class="form-label"> Name :</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="name" name="name" value="{{student.name}}">
                    </div>
                </div>
                <!-- 2 Email--->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="email" class="form-label">Email :</label>
                    </div>
                    <div class="col">
                        <input type="email" class="form-control" id="email" name="email" value="{{student.email}}">
                    </div>
                </div>
                <!-- 3 Phone --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="phone" class="form-label">Phone :</label>
                    </div>
                    <div class="col">
                        <input type="tel" class="form-control " id="phone" name="phone" value="{{student.phone}}">
                    </div>
                </div>
                <!-- 4. Grade -->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="grade" class="form-label">Grade :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="grade" name="grade">
                            <option value="kg-1" {{#if (eq student.grade 'kg-1' )}}selected{{/if}}>kg-1</option>
                            <option value="kg-2" {{#if (eq student.grade 'kg-2' )}}selected{{/if}}>kg-2</option>
                            <option value="kg-3" {{#if (eq student.grade 'kg-3' )}}selected{{/if}}>kg-3</option>
                            <option value="1" {{#if (eq student.grade '1' )}}selected{{/if}}>1</option>
                            <option value="2" {{#if (eq student.grade '2' )}}selected{{/if}}>2</option>
                            <option value="3" {{#if (eq student.grade '3' )}}selected{{/if}}>3</option>
                            <option value="4" {{#if (eq student.grade '4' )}}selected{{/if}}>4</option>
                            <option value="5" {{#if (eq student.grade '5' )}}selected{{/if}}>5</option>
                            <option value="6" {{#if (eq student.grade '6' )}}selected{{/if}}>6</option>
                            <option value="7" {{#if (eq student.grade '7' )}}selected{{/if}}>7</option>
                            <option value="8" {{#if (eq student.grade '8' )}}selected{{/if}}>8</option>
                            <option value="9" {{#if (eq student.grade '9' )}}selected{{/if}}>9</option>
                            <option value="10" {{#if (eq student.grade '10' )}}selected{{/if}}>10</option>
                            <option value="11" {{#if (eq student.grade '11' )}}selected{{/if}}>11</option>
                            <option value="12" {{#if (eq student.grade '12' )}}selected{{/if}}>12</option>
                        </select>

                    </div>
                </div>

                <!-- 5 status --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="status" class="form-label">Status :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="status" name="status">
                            <option value="Paid" {{#if (eq student.status 'Paid' )}}selected{{/if}}>Paid
                            </option>
                            <option value="Not-Paid" {{#if (eq student.status 'Not-Paid' )}}selected{{/if}}>
                                Not-Paid
                            </option>
                        </select>
                    </div>
                </div>
                <!-- 6 gender --->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="gender" class="form-label">Gender :</label>
                    </div>
                    <div class="col">
                        <select class="form-select" id="gender" name="gender">
                            <option value="M" {{#if (eq student.gender 'M' )}}selected{{/if}}>M</option>
                            <option value="F" {{#if (eq student.gender 'F' )}}selected{{/if}}>F</option>
                        </select>
                    </div>
                </div>
                <!-- 7 Image--->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="image" class="form-label">Change Image :</label>
                    </div>
                    <div class="col">
                        <input type="file" class="form-control" id="image" name="image">
                        {{#if student.imageBase64}}
                        <img src='data:{{student.contentType}};base64,{{student.imageBase64}}' alt="{{student.name}}"
                            width="100">
                        {{else}}
                        <img src="images/no_image.png" alt="{{student.name}}" width="100" class="img-thumbnail">
                        {{/if}}
                    </div>
                </div>
                <!-- 8 Action--->
                <div class="mb-2" style="padding-left: 120px;">
                    <input style="padding-left: 10%; padding-right: 10%;" type="submit" value="Save"
                        class="btn btn-primary">
                    <a style="padding-left: 10%; padding-right: 10%;" href="/students"
                        class="btn btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>