<div class="container mt-5">
    <h3>Edit Student Information</h3>
    <div class="row" style="padding-left: 80px;">
        <form action="/student/{{student._id}}" method="POST" class="col-md-8 col-lg-6">
            <input type="hidden" name="_method" value="PUT">
            <!-- 1 image--->
            <div class="mb-3">
                <label for="name" class="form-label"> Name :</label>
                <input type="text" class="form-control" id="title" name="name" value="{{student.name}}">

            </div>
            <!-- 2 Email--->
            <div class="mb-3">
                <label for="title" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value="{{student.email}}">
            </div>
            <!-- 3 Phone --->
            <div class="mb-3">
                <label for="title" class="form-label">Phone</label>
                <input type="tel" class="form-control " id="phone" name="phone" value="{{student.phone}}">
            </div>

            <!-- 4 status --->
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" name="status">
                    {{#select student.status}}
                    <option value="Paid" selected>Paid</option>
                    <option value="Not-Paid">Not-Paid</option>
                    {{/select}}
                </select>
            </div>

            <!-- 5 Image--->
            <div class="mb-3">
                <label for="image" class="form-label">Change Image</label>
                <input type="file" class="form-control" id="image" name="image" value="{{student.image}}">
            </div>
            <!-- 5 Action--->
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="/student" class="btn btn-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>