<div class="w-100" style="position: fixed; z-index: 100; ">
    {{> _studentheader}}
</div>

<div class="row" style="padding: 100px; ">
    <div class="col-3">
        <h3 class="display-6 " style=" padding-top:35px; padding-bottom:20px; padding-left:30px;">Students</h3>
    </div>
    <div class="col">
        <form id="search-site" action='/student/search/:query' method='get' class="mb-4"
            style="padding-left: 100px; padding-right: 100px;">
            <div class="input-group" style="padding-top: 30px;">
                <span class="input-group-text"><i class="fas fa-search fa-lg"></i></span>
                <div class="form-floating">
                    <input id="search" type="search" name='query' class="form-control w-90"
                        placeholder="Search by name">
                    <label for="search">Search</label>
                </div>
                <button type="submit" class="btn btn-primary">Search by name</button>
            </div>
        </form>
    </div>


    <div class="row" style="padding-bottom: 30px; padding-left: 30px; padding-right: 30px;">
        {{#each student as |row index| }}
        <div class="col-12 col-md-4">
            <div class="card mb-4">
                <div class="card-img-top">
                    <a href="/student/edit/{{row._id}}" class="btn p-2 btn-float  text-success">
                        <i class="fas fa-edit fa-lg mx-1"></i>
                    </a>
                </div>
                <div class="card ">
                    {{#if imageBase64}}
                    <img src='data:{{contentType}};base64,{{imageBase64}}' width="auto" height="230"
                        class="student image">
                    {{else}}
                    <img src="images/no_image.png" width="auto" height="230" class="img-thumbnail">
                    {{/if}}
                </div>

                <div class="card-body text-center">
                    <h6 class="card-title">{{name}}</h6>
                    <h6 class="card-title">{{email}}</h6>
                    <h6 class="card-title">
                        <a href="tel: {{row.phone}}"> {{row.phone}}</a>
                    </h6>
                    <h6 class="card-title">{{status}}</h6>
                    <h6 class="card-title">{{gender}}</h6>

                    <div class="chip gap-0 ">
                        <img style="height: 35px; weight: 35px;" class="chip-img rounded"
                            src="data:{{contentType}};base64,{{imageBase64}}" alt="{{row.image}}">
                        <a style="text-decoration: none; background-color:#e9e0e0; border-radius:20px; padding-top:6px; padding-bottom:8px; padding-left:20px; padding-right:20px;"
                            href="mailto: {{row.email}}" class="chip-link">{{row.email}}</a>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a href="/student/{{row._id}}" class="btn btn-secondary">Read More</a>
                </div>
            </div>
        </div>
        {{else}}
        <p class="col-12 text-center">No Student to display!</p>
        {{/each}}
    </div>
</div>






<!-- Back-to-Top Button -->
<a href=""><img id="btn-back-to-top" src="https://img.icons8.com/color/48/circled-up-2--v1.png"
        alt="circled-up-2--v1" />
</a>

<!-- Back-to-Top Styles -->
<style>
    #btn-back-to-top {
        z-index: 1;
        position: fixed;
        bottom: 40px;
        right: 40px;
        width: 60px;
        height: 50px;
        border: none;
        border-radius: 50%;
    }
</style>

<!-- Bootstrap and Font Awesome JS dependencies -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-xBqEnFk1TC+2s9wAeUnp76cCqA5IcMXYgRVNkd3LQ6ZXfJt3S2x82CUq3uSWq8J6"
    crossorigin="anonymous"></script>

<!-- Back-to-Top Script -->
<script>
    //Get the button
    let mybutton = document.getElementById("btn-back-to-top");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction();
    };

    function scrollFunction() {
        if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
        ) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    function backToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>