<div class="w-100" style=" z-index: 100; position:fixed;">
    {{> _newsheader}}
</div>
<div class="container row " style="padding-top: 7%; padding-bottom: 2%; padding-right:10%; padding-left:310px;">
    <div class=" bg-info bg-opacity-10 border border-info border-start-0 rounded-end"
        style="padding-top: 20px; padding-right:10%; padding-left:10%;">

        <div class="row text-center" style="align-items: center;">
            <h3 class="bg-primary p-1" style="--bs-bg-opacity: .2; padding-left: 40px; padding-top: 70px;">
                Edit News </h3>
        </div>

        <div class="row " style="padding-left: 10px;">
            <form action="/news/{{news._id}}" method="POST">
                <input type="hidden" name="_method" value="post">
                <!-- 1 Title--->
                <div class="row mb-2">
                    <label for="title" class="col-sm-2 col-form-label">Title :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" value="{{news.title}}">
                    </div>
                </div>

                <!-- 2 news body--->
                <div class="row mb-2">
                    <label for="body" class="col-sm-6 col-form-label">Tell Us student news:</label>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-10">
                        <textarea class="form-control" id="body" name="body">{{news.body}}</textarea>
                    </div>
                </div>
                <!-- 3 Image--->
                <div class="mb-2 row">
                    <div class="col-3">
                        <label for="image" class="form-label">Change Image :</label>
                    </div>
                    <div class="col">
                        <input type="file" class="form-control" id="image" name="image">
                        {{#if news.imageBase64}}
                        <img src='data:{{news.contentType}};base64,{{news.imageBase64}}' alt="{{news.title}}"
                            width="100">
                        {{else}}
                        <img src="images/no_image.png" alt="{{news.title}}" width="100" class="img-thumbnail">
                        {{/if}}
                    </div>
                </div>
                <!-- 6 Action--->
                <div class="mb-2" style="padding-left: 15%;">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a href="/news" class="btn btn-warning">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>