<!-- views/news/index.hbs -->
<h1 class="display-4" style=" padding-top:80px;">Latest News</h1>

<form id="search-site" action='/stories/search/:query' method='get' class="mb-4">
    <div class="input-group">
        <span class="input-group-text"><i class="fas fa-search fa-lg"></i></span>
        <div class="form-floating">
            <input id="search" type="search" name='query' class="form-control w-90" placeholder="Search by title">
            <label for="search">Search</label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

{{!-- {{#if isAdmin}} --}}
<a href="/news/create" class="btn btn-primary">Create News</a>
{{!-- {{/if}} --}}

{{#each news}}
<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{stripTags (truncate content 350)}}</p>
        <small class="text-muted">Posted by {{author}} on {{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</small>
    </div>
    {{#if isAdmin}}
    <div class="card-footer">
        <a href="/news/edit/{{_id}}" class="btn btn-secondary">Edit</a>
        <a href="/news/delete/{{_id}}" class="btn btn-danger">Delete</a>
    </div>

    <div class="card-footer text-center">
        <a href="/stories/{{_id}}" class="btn btn-secondary">Read More</a>
    </div>
    {{/if}}
</div>
{{else}}
<p class="col-12 text-center">No News yet Broadcasted , Stay tuned for a news update !</p>
{{/each}}